.date-generator-content-wrapper .description {
  display: none;
}

.date-generator-content-wrapper h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.date-generator-content-wrapper p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin: 0 0 20px 0;
}
.date-generator-content-wrapper p:last-child {
  font-size: 12px;
  margin: 0;
}


.date-generator-content-wrapper input {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #000;
}

.date-generator-content-wrapper .form-submit {
  color: rgba(255,255,255,.2);
  text-transform: uppercase;
  padding: 0;
}

/* Date field calendar*/
#ui-datepicker-div {
  font-family: 'Roboto', sans-serif;
}


/*
* @media - if the screen is smaller than 465px
*/
@media only screen and (max-width: 465px) {
  .date-generator-content-wrapper h1 {
    font-size: 35px;
  }

  .date-generator-content-wrapper p {
    font-size: 15px;
  }

  .date-generator-content-wrapper input {
    font-size: 15px;
  }
}