.date-generator-wrapper {
  height: 100%;
}

.date-generator-content-wrapper {
  position: relative;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 100px auto;
  padding: 40px;
}

.date-generator-content-wrapper input {
  width: 520px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 0 0 10px 0;
}

.date-generator-content-wrapper .container-inline-date input {
  width: 520px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.date-generator-content-wrapper .form-submit {
  margin-bottom: 20px;
  background: #f44e85;
  border: none;
  height: 100px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.date-generator-content-wrapper .form-submit:active {
  box-shadow: none;
}

/* icons */
&.date-icon {
  @include svg-bg('date_generator/calendar');
  position: absolute;
  top: 177px;
  left: 60px;
  width: 35px;
  height: 35px;
  z-index: 1;
}
&.mail-icon {
  @include svg-bg('date_generator/mail');
  position: absolute;
  top: 250px;
  left: 60px;
  width: 35px;
  height: 35px;
  z-index: 1;
}
&.arrow-icon {
  @include svg-bg('date_generator/arrow_down');
  position: absolute;
  top: 193px;
  right: 75px;
  width: 15px;
  height: 7px;
  z-index: 1;
}

/* Date field calendar*/
#ui-datepicker-div {
  border: none;
  border-radius: 20px;
  width: 520px;
  left: 0px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
#ui-datepicker-div a span{
  display: none;
}
#ui-datepicker-div table td{
  padding-right: 30px;
}








