.booking-field a {
  width: 100px;
  height: 40px;
  background: #007236;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  float: left;
  margin-right: 10px; 
  color: #FFF !important;
  text-transform: uppercase;
  text-decoration: none;
}