.content-main-wrapper {
  background: url('./../../graphics/page-content/mapbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay-page-content{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF;
  opacity: .4;
}

.content-content-wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: auto;
}
.content-main-wrapper h1 {
  margin: 0 0 50px 0;
}

.content-box h2,p{
  margin: 0;
}
.content-box {
  width: 400px;
  padding: 20px 40px;
  background-color: white;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 20px;
  margin-bottom: 20px;
  float: left;
}

.before-node-first,
.performance-node,
.end-box-one {
  float: right;
}
.end-box-one{
  clear: both;
}

.before-node-first {
  margin-top: 50px;
}

.before-node-secund {
  margin-bottom: 70px;
}

.end-box-two {
  margin-top: 40px;
}

.performance-node {
  padding: 20px;
}
.performance-node .address-field {
  margin-bottom: 10px;
}

.timeline {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 580px;

  border-left: 3px dotted #000;
}

.circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 100%;
}
.the-star {
  @include svg-bg('page-content/star');
  width: 30px;
  height: 30px;
  top: 430px;
}
.circle1 {
  width: 25px;
  height: 25px;
  top: 180px;
}
.circle2 {
  top: 260px;
}
.circle3 {
  top: 330px;
}
.circle4 {
  top: 520px;
}
.circle5 {
  top: 700px;
}
.circle6 {
  top: 760px;
}

/*
* @media - if the screen is smaller than 990px
*/
@media only screen and (max-width: 990px) {
  .content-content-wrapper {
    width: 100%;
  }

  .content-main-wrapper h1 {
    margin-bottom: 80px;
  }

  .content-box {
    margin: 0 auto 20px auto;
    float: none;
    position: relative;
  }

  .timeline {
    top: 150px;
    height: 80%;
  }

  .circle {
   display: none; 
  }
  .circle1 {
    display: block;
    top: 135px;
  }
}

/*
* @media - if the screen is smaller than 450px
*/
@media only screen and (max-width: 450px) {
  .content-box {
    width: 90%;
  }

  .circle1 {
    width: 20px;
    height: 20px;
  }
}





