.content-main-wrapper {
  // background: url('./../../graphics/page-content/mapbg.jpg');
  background: gray;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content-content-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 80px 0;
}

.content-main-wrapper h1 {
  margin: 0 0 50px 0;
}

.content-box h2,p{
  margin: 0;
}
.content-box {
  width: 400px;
  padding: 20px 40px;
  background-color: white;
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 20px;
}

.performance-node {
  padding: 20px;
}

.performance-node .address-field {
  margin-bottom: 10px;
}