.about-malmoscenen .title h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  color: #000;
  line-height: 30px;
  text-align: left;
}
.about-malmoscenen .body p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: gray;
  line-height: 30px;
}