.footer-content-wrapper h3{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #dadada;
  text-align: center;
}

.about-malmoscenen-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  line-height: 40px;
}

.about-malmoscenen h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  color: #000;
  line-height: 30px;
}
.about-malmoscenen p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: gray;
  line-height: 30px;

}