.content-main-wrapper h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: medium;
  font-size: 26px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.content-box {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.content-box h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.content-box a {
  color: #f44e85;
}

.performance-node a {
  color: #000;
  text-decoration: none;
}

.font-italic {
  line-height: 30px;
  font-style: italic;
}


/*
* @media - if the screen is smaller than 450px
*/
@media only screen and (max-width: 450px) {
  .content-main-wrapper h1 {
    font-size: 18px;
  }
}
